

.route-section {
  p {
    margin-bottom: 0.5rem;
  }

  ul.route-list {
    margin-left: 0.5rem;
  }
}

.route-method {
  color: #2A6330;
}

.route-method-path {
  display: inline-block;
}

.route-info {
  margin-left: 1.5rem;

  code {
    font-size: 80%;
    padding: 0.1rem;
  }
}