

.theme-map {
  height: 300px;
  width: 100%;
  margin-bottom: 1.5rem;
}

@each $theme in $themes {
  $name: nth($theme, 1);
  $color: nth($theme, 2);

  .entity-marker-#{$name} {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.8;
    fill-opacity: 0.9;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  //needs colors are handled by ThemeMap component
  @if $name != 'needs' and $name != 'supplies' {
    .entity-marker-#{$name} {
      fill: $color;
    }
  }

}

.triangle-marker {
  width: 0 !important; 
  height: 0 !important; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 9px solid white;
}

.triangle-marker-inner {
  width: 0 !important; 
  height: 0 !important; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid rgb(173, 8, 0);
  margin-left: -3px;
  margin-top: 2px;
}

.view-triangle-marker {
  width: 0 !important; 
  height: 0 !important; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid white;
}

.view-triangle-marker-inner {
  width: 0 !important; 
  height: 0 !important; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid rgb(173, 8, 0);
  margin-left: -8px;
  margin-top: 3px;
}

.leaflet-legend {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 2px;
  font-size: 1.2rem;

  h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0 0 0 4px;
    margin: 5px 12px;
  }

  li {
    margin-bottom: 0;
  }

  p {
    text-align: center;
    width: 100%;
    font-size: .75em;
  }
}

.leaflet-control-defaultextent a {
  background-color: #fff;
  background-image: url('/public/static/img/texas_icon.png');
  background-size: 16px;
}

.leaflet-popup {
  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .leaflet-popup-content p {
    margin: 0
  }

  a {
    cursor: pointer;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

button.easy-button-button {
  margin: 0;
  padding: 0;

  span {
    display: block;
    width: 100%;
    height: 100%;
  }

  .icon-unlocked {
    background: url('/public/static/img/icon_unlock.png') center no-repeat;
    background-size: 18px;
  }

  .locked-active {
    background-color: #000;
  }

  .icon-locked {
    background: url('/public/static/img/icon_lock.png') center no-repeat;
    background-size: 18px;
  }
}

/*!
 * leaflet.easybutton css from https://github.com/CliffCloud/Leaflet.EasyButton
 *
 * Copyright (C) 2014 Daniel Montague
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}


.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/*
  Leaflet.label css from
  Leaflet.label, a plugin that adds labels to markers and vectors for Leaflet powered maps.
  (c) 2012-2013, Jacob Toye, Smartrak

  https://github.com/Leaflet/Leaflet.label
  http://leafletjs.com
  https://github.com/jacobtoye
*/
.leaflet-label {
  background: rgb(235, 235, 235);
  background: rgba(235, 235, 235, 0.81);
  background-clip: padding-box;
  border-color: #777;
  border-color: rgba(0,0,0,0.25);
  border-radius: 4px;
  border-style: solid;
  border-width: 4px;
  color: #111;
  display: block;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1px 6px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 6;
}

.leaflet-label.leaflet-clickable {
  cursor: pointer;
}

.leaflet-label:before,
.leaflet-label:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: none;
  position: absolute;
  top: 5px;
}

.leaflet-label:before {
  border-right: 6px solid black;
  border-right-color: inherit;
  left: -10px;
}

.leaflet-label:after {
  border-left: 6px solid black;
  border-left-color: inherit;
  right: -10px;
}

.leaflet-label-right:before,
.leaflet-label-left:after {
  content: "";
}

