
$font: GillSansMT, sans-serif;
$bodyColor: #3e3e3e;

html {
  height: 100%;
}

body {
  color: $bodyColor;
   /* Seamless Paper Texture by Merry
    From: http://subtlepatterns.com/seamless-paper-texture/
    CC-BY-SA: http://creativecommons.org/licenses/by-sa/3.0/
  */
  background: url('/public/static/img/seamless_paper_texture.png');
  overflow-x: hidden;
  font-family: $font;
  font-size: 1.7em;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 200px;
  @media (min-width: $media-s) {
    padding-bottom: 140px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  font-weight: bold;
  color: darken($twdb-blue, 10%);
}

h3 {
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2.2rem;
  font-family: $font;
  color: $bodyColor;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

a {
  color: $twdb-blue;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
}

.container {
  @media (max-width: $media-m) {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  @media (min-width: $media-m) {
    width: 90%;
  }
}
.wrapper {
  @media (min-width: $media-l) {
    width: 1000px;
    margin: 0 auto;
  }

  width: auto;
  margin: 0 1.5rem;
  position: relative;
}

.header {
  @media (min-width: $media-s) {
    margin-top: 0;
  }

  margin-top: 0;
  padding: 8px 0 0 0;
  background: $twdb-blue;

  .logo {
    display: inline-block;
    width: 120px;
    vertical-align: bottom;
    padding-right: 1rem;
    margin-bottom: 1rem;

    @media (min-width: $media-m) {
      width: 200px;
    }
  }

  h1 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;

    a, a:hover, a:visited {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: $media-m) {
      font-size: 2.5rem;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

#footer {
  text-align: center;
  border-top: 1px solid $border-color;
  padding: 2rem 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $twdb-blue;
  color: white;

  p {
    margin: 0;
  }

  a {
    color: white;

    &:hover {
      color: $link-hover-color;
    }
  }

  .tnris-logo {
    width: 80px;
    margin-top: 8px;
  }
}

@media (max-width: 900px) {
  .six.columns.wide {
    width: 100%;
  }

  .columns.wide,.column.wide {
    margin-left: 0;
  }
}