
@mixin series-color($color) {
  .ct-point, .ct-line, .ct-bar {
    stroke: $color;
  }
}

@mixin tooltip-color($color) {
  background: $color;
  &:after {
    border-top-color: $color;
  }
}

@mixin legend-color($color) {
  fill: $color;
}

@mixin row-label-decoration($color) {
  padding: 0 1px;
  border-bottom: 1px solid $color;
  display: inline-block;
}

.chart-header {
  h4 {
    display: inline-block;
    margin-right: 20px;
  }
}

.chart-legend {
  display: inline-block;
  text-align: right;

  @media (min-width: $media-xl) {
    &.legend-types-by-decade {
      max-width: 340px;
    }
  }

  > ul {
    list-style: none;
    margin: 0;

    > li {
      display: inline-block;
      margin: 0 0 0 10px;
      color: #3e3e3e;
    }
  }

  svg.legend-marker {
    width: 14px;
    height: 13px;
    margin-right: 2px;

    @each $theme in $themes {
      $name: nth($theme, 1);
      $color: nth($theme, 2);

      circle.series-#{$name} {
        @include legend-color($color);
      }
    }

    @each $type in $usageTypes {
      $name: nth($type, 1);
      $color: nth($type, 2);

      .series-#{$name} {
        @include legend-color($color);
      }
    }
  }
}

.bar-chart-container {
  position: relative;

  .zero-message {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: 3rem;
    bottom: 12rem;
  }
}

.ct-chart {
  .ct-label {
    font-size: 1rem;
    color: #3e3e3e;
  }

  .ct-axis-title {
    color: #3e3e3e;
    font-size: 1.2rem;
  }

  @each $theme in $themes {
    $name: nth($theme, 1);
    $color: nth($theme, 2);

    .series-#{$name} {
      @include series-color($color);
    }
  }

  @each $type in $usageTypes {
    $name: nth($type, 1);
    $color: nth($type, 2);

    .series-#{$name} {
      @include series-color($color);
    }
  }
}

.ct-bar {
  @media (max-width: $media-s) {
    stroke-width: 7px;
  }
}

.ct-series {
  @include series-color(#000);
}

.ct-tooltip {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  position: fixed;
  background-color: #2e2e2e;
  display: inline-block;
  min-width: 5rem;
  padding: 0.5rem 0.75rem;
  height: 22px;
  pointer-events: none;
  text-align: center;
  z-index: 1;

  &:after {
    border: 9px solid transparent;
    border-top-color: #2e2e2e;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  @each $theme in $themes {
    $name: nth($theme, 1);
    $color: nth($theme, 2);

    &.tooltip-#{$name} {
      @include tooltip-color($color);
    }
  }

  @each $type in $usageTypes {
    $name: nth($type, 1);
    $color: nth($type, 2);

    &.tooltip-#{$name} {
      @include tooltip-color($color);
    }
  }
}

.table-scroll-container {
  max-width: 100%;
  overflow-x: auto;
  clear: both;
}

.chart-table-container {
  .toggle-container {
    width: 100%;
    text-align: right;

    .button-small {
      margin-bottom: 0;
    }
  }

  table {
    font-size: 0.7em;
    line-height: 1.4rem;

    th, td {
      text-align: right;
      padding: 3px 20px 1px 0;
    }

    .row-label {
      font-weight: bold;
      max-width: 60px;
      text-align: left;
    }

    tr.highlight {
      background: #FFFFB3;
    }

    @each $theme in $themes {
      $name: nth($theme, 1);
      $color: nth($theme, 2);

      tr.series-#{$name} .row-label > span {
        @include row-label-decoration($color);
      }
    }

    @each $type in $usageTypes {
      $name: nth($type, 1);
      $color: nth($type, 2);

      tr.series-#{$name} .row-label > span {
        @include row-label-decoration($color);
      }
    }

  }

  .totals-row {
    font-style: italic;
    border-top: 2px solid grey;
  }
}