
@mixin series-color($color) {
  .ct-point, .ct-line, .ct-bar {
    stroke: $color;
  }
}

@mixin tooltip-color($color) {
  background: $color;
  &:after {
    border-top-color: $color;
  }
}

@mixin legend-color($color) {
  fill: $color;
}

.chart-header {
  h4 {
    display: inline-block;
    margin-right: 20px;
  }

  .chart-legend {
    display: inline-block;

    > ul {
      list-style: none;
      margin: 8px 0 0 0;

      > li {
        display: inline-block;
        margin: 0 0 0 10px;
        color: #3e3e3e;
      }
    }

    svg.legend-marker {
      width: 14px;
      height: 13px;
      margin-right: 2px;

      @each $theme in $themes {
        $name: nth($theme, 1);
        $color: nth($theme, 2);

        circle.series-#{$name} {
          @include legend-color($color);
        }
      }

      @each $type in $usageTypes {
        $name: nth($type, 1);
        $color: nth($type, 2);

        .series-#{$name} {
          @include legend-color($color);
        }
      }
    }
  }
}

.ct-chart {
  .ct-label {
    font-size: 1rem;
  }

  @each $theme in $themes {
    $name: nth($theme, 1);
    $color: nth($theme, 2);

    .series-#{$name} {
      @include series-color($color);
    }
  }

  @each $type in $usageTypes {
    $name: nth($type, 1);
    $color: nth($type, 2);

    .series-#{$name} {
      @include series-color($color);
    }
  }
}

.ct-series {
  @include series-color(#000);
}

.ct-tooltip {
  color: #fff;
  background-color: #2e2e2e;
  display: inline-block;
  font-weight: 700;
  min-width: 5em;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  z-index: 1;

  &:after {
    border: 15px solid transparent;
    border-top-color: #2e2e2e;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  @each $theme in $themes {
    $name: nth($theme, 1);
    $color: nth($theme, 2);

    &.tooltip-#{$name} {
      @include tooltip-color($color);
    }
  }

  @each $type in $usageTypes {
    $name: nth($type, 1);
    $color: nth($type, 2);

    &.tooltip-#{$name} {
      @include tooltip-color($color);
    }
  }
}