.data-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.reactPivot {
  margin-top: 0;
  background: inherit;

  select {
    height: auto;
  }

  button {
    height: auto;
  }
}

.reactPivot-results {
  font-size: smaller;

  td, th {
    padding: 2px;

    &:last-child {
      text-align: right;
    }
  }
}

.reactPivot-pageNumber {
  padding: 2px 4px;
  a {
    cursor: pointer;
  }

  &.is-selected a {
    text-decoration: none;
  }
}

.reactPivot-csvExport {
  display: none;
}