.data-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.reactPivot {
  margin-top: 0;

  select {
    height: auto;
  }

  button {
    height: auto;
  }
}

.reactPivot-results {
  td {
    padding: 2px;
  }
}

.reactPivot-pageNumber {
  padding: 2px 4px;
  a {
    cursor: pointer;
  }

  &.is-selected a {
    text-decoration: none;
  }
}