
.place-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.theme-map {
  height: 260px;
  width: 100%;
  margin-bottom: 1.5rem;
}

@each $theme in $themes {
  $name: nth($theme, 1);
  $color: nth($theme, 2);

  .entity-marker-#{$name} {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.8;
    fill: $color;
    fill-opacity: 0.9;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}