
$nav-color: lighten($twdb-blue, 10%);

.nav-container {
  position: absolute;
  right: 0;
  bottom: 0;

  @media (max-width: 960px) {
    position: relative;
    text-align: right;
  }


  button, .button {
    color: white;
    margin: 0 0 -1px -1px;
    border-bottom: none;
    border-radius: 0;
    display: inline-block;

    &:focus, &:hover {
      border-left-color: white;
      border-right-color: white;
      border-top-color: white;
      border-bottom: 1px solid white;
      background-color: $nav-color;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &.button-home {
      padding: 0 12px;

      > svg {
        fill: white;
        height: 18px;
        margin-bottom: 4px;
        vertical-align: middle;
      }
    }
  }
}

button.nav-toggle {
  &.on {
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    background-color: $nav-color;
    border-bottom: 1px solid $nav-color;
  }

  &:focus, &:focus.on, &:hover, &:hover.on {
    border-bottom: 1px solid $nav-color;
  }
}

.header-nav {
  transition: all 0.3s ease-in-out;
  background-color: $nav-color;
  text-align: right;
  padding-top: 1rem;
  border-top: 1px solid white;

  label {
    display: inline-block;
    color: white;
  }

  select {
    margin-left: 1rem;
  }

  .select-auto {
    display: inline-block;
    margin-left: 1rem;
    width: 240px;
    vertical-align: middle;

    &.entity-select {
      width: 320px;
    }

    .Select-control {
      border-radius: 0;
    }

    .Select-placeholder {
      margin-right: 30px;
    }

    .Select-menu-outer {
      z-index: 10000;
    }
  }
}

#nav-category-select {
  display: inline-block;
}