
.nav-toggle-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

button.nav-toggle {
  color: white;
  margin: 0;
  border-bottom: none;
  border-radius: 0;

  .on {
    border-bottom: 1px solid white;
  }
}