
$nav-color: lighten($twdb-blue, 10%);

.nav-container {
  position: absolute;
  right: 0;
  bottom: 0;

  @media (max-width: 960px) {
    position: relative;
    text-align: right;
  }

  button, .button {
    color: white;
    margin: 0 0 -1px -1px;
    border-radius: 0;
    border-color: white;
    display: inline-block;

    &.active {
      background-color: $nav-color;
    }

    &:focus, &:hover {
      border-bottom: 1px solid white;
      background-color: $nav-color;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &.button-home {
      padding: 0 12px;

      > svg {
        fill: white;
        height: 18px;
        width: 20px;
        margin-bottom: 4px;
        vertical-align: middle;
      }
    }
  }
}

.header-nav {
  background-color: $nav-color;
  padding: 1rem 0;

  label {
    display: inline-block;
    color: white;
  }

  select {
    margin-left: 1rem;
  }

  button {
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .select-auto {
    display: inline-block;
    margin-left: 1rem;
    width: 240px;
    vertical-align: middle;

    &.entity-select {
      width: 320px;
    }

    .Select-control {
      border-radius: 0;
    }

    .Select-placeholder {
      margin-right: 30px;
    }

    .Select-menu-outer {
      z-index: 10000;
    }
  }
}

.button-nav-submit {
  background: #fff;

  &:focus {
    border: 1px solid #33C3F0;
  }
}

#nav-category-select {
  display: inline-block;
  margin-bottom: 0;
}