/*
Larger than mobile
@media (min-width: 400px) {}

Larger than phablet
@media (min-width: 550px) {}

Larger than tablet
@media (min-width: 750px) {}

Larger than desktop
@media (min-width: 1000px) {}

Larger than Desktop HD
@media (min-width: 1200px) {}
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$border-color: #e0e0e0;
$twdb-blue: #3F556D;

$themes: ('demands', #1FC684), ('supplies', #FBB50D),
  ('needs', #AA0000), ('strategies',  #FF7518);

$usageTypes: ('irrigation' #66c2a5), ('livestock', #fc8d62),
  ('manufacturing', #8da0cb), ('mining', #e78ac3),
  ('municipal', #a6d854), ('steam-electric', #ffd92f);

@import "charts";
@import "maps";

body {
  color: #3e3e3e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: darken($twdb-blue, 10%);
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2rem;
  color: $twdb-blue;
  margin-bottom: 0.5rem;
}

a {
  color: $twdb-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  @media (min-width: 1000px) {
    width: 1000px;
    margin: 0 auto;
  }

  width: auto;
  margin: 0 1.5rem;
}

.header {
  @media (min-width: 550px) {
    margin-top: 0;
  }

  margin-top: 0;
  padding: 0.5rem 0;
  background: $twdb-blue;

  .logo {
    display: inline-block;
    height: 36px;
    vertical-align: bottom;
  }

  h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #fff;
  }
}

.footer {
  text-align: center;
  border-top: 1px solid $border-color;
  padding: 2rem 0 2.5rem 0;
  background-color: #B1BDCA;

  p {
    margin: 0;
  }

  a {
    color: darken($twdb-blue, 10%);
  }

  .tnris-logo {
    width: 80px;
    margin-top: 8px;
  }
}

.table-container {
  .spinner {
    margin: 2rem auto;
  }
}

.place-view-top {
  position: relative;
  height: 40rem;

  .place-summary-wrapper {
    position: relative;
  }

  .place-summary {
    width: 48%;
    float: left;
    margin: 3rem 2% 0 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid lighten($twdb-blue, 20%);
    border-radius: 4px;
    padding: 1rem;
  }
}

section.content {
  background-color: #F9F4EE;
  /* Seamless Paper Texture by Merry
    From: http://subtlepatterns.com/seamless-paper-texture/
    CC-BY-SA: http://creativecommons.org/licenses/by-sa/3.0/
  */
  background: url('/public/static/img/seamless_paper_texture.png');
}

.place-view .container {
  min-height: 100%;
}

.data-section-row {
  margin: 2rem 0;
  border-radius: 4px;
  padding: 1rem;
  background-color: #fbfbfb;
  border-bottom: 1px solid #a9a9a9;

  .spinner {
    margin: 2rem auto;
  }
}