/*
Larger than mobile (xs)
@media (min-width: 400px) {}

Larger than phablet (s)
@media (min-width: 550px) {}

Larger than tablet (m)
@media (min-width: 750px) {}

Larger than desktop (l)
@media (min-width: 1000px) {}

Larger than Desktop HD (xl)
@media (min-width: 1200px) {}
*/

$media-xl: 1200px;
$media-l: 1000px;
$media-m: 750px;
$media-s: 550px;
$media-xs: 400px;

$font: GillSansMT, sans-serif;

$border-color: #e0e0e0;
$twdb-blue: #3F556D;
$link-hover-color: #0FA0CE;

$themes: ('demands', rgb(172, 40, 133)), ('supplies', rgb(0, 151, 214)),
  ('needs', rgb(237, 27, 47)), ('strategies',  rgb(10, 162, 69)),
  ('population',  rgb(252, 175, 23));

$usageTypes: ('irrigation' rgb(126, 191, 133)), ('livestock', rgb(106, 138, 34)),
  ('manufacturing', rgb(234, 214, 4)), ('mining', rgb(120, 182, 228)),
  ('municipal', rgb(237, 27, 47)), ('steam-electric-power', rgb(0, 155, 144));

@import "charts";
@import "maps";
@import "nav";
@import "datatable";

html {
  height: 100%;
}

body {
  color: #3e3e3e;
   /* Seamless Paper Texture by Merry
    From: http://subtlepatterns.com/seamless-paper-texture/
    CC-BY-SA: http://creativecommons.org/licenses/by-sa/3.0/
  */
  background: url('/public/static/img/seamless_paper_texture.png');
  overflow-x: hidden;
  font-family: $font;
  font-size: 1.7em;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 140px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  font-weight: bold;
  color: darken($twdb-blue, 10%);
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2.2rem;
  font-family: $font;
  font-style: italic;
  font-weight: normal;
  color: $twdb-blue;
  margin-bottom: 0.5rem;
}

a {
  color: $twdb-blue;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
}

.wrapper {
  @media (min-width: $media-l) {
    width: 1000px;
    margin: 0 auto;
  }

  width: auto;
  margin: 0 1.5rem;
  position: relative;
}

.header {
  @media (min-width: $media-s) {
    margin-top: 0;
  }

  margin-top: 0;
  padding: 8px 0 0 0;
  background: $twdb-blue;

  .logo {
    display: inline-block;
    width: 200px;
    vertical-align: bottom;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }
}

#footer {
  text-align: center;
  border-top: 1px solid $border-color;
  padding: 2rem 0;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $twdb-blue;
  color: white;

  p {
    margin: 0;
  }

  a {
    color: white;

    &:hover {
      color: $link-hover-color;
    }
  }

  .tnris-logo {
    width: 80px;
    margin-top: 8px;
  }
}

.about-content {
  margin-top: 2rem;
  ul, ol {
    margin-left: 1rem;
  }
}

.decade-dependent-wrap {
  background-color: rgba(65, 85, 100, 0.25);

  &.is-stickied {
    padding-top: 140px;
  }
}

.decade-selection-container {
  text-align: center;
  background-color: $twdb-blue;
  padding: 10px 0;
  margin-bottom: 10px;

  h4 {
    color: white;
  }

  button {
    background: #FFF;
    border: 1px solid lighten($twdb-blue, 15%);

    &:hover {
      color: #FFF;
      border-color: #FFF;
      background: lighten($twdb-blue, 15%);
    }

    &.button-primary,
    &.button-primary:hover,
    &.button-primary:active,
    &.button-primary:focus {
      border: 1px solid #FFF;
    }
  }
}

.selector {
  margin: 1rem auto 0 auto;

  button {
    margin: 0 1rem 1rem 1rem;
  }

  &.theme-selector {
    margin-top: 2rem;
  }
}

.button, button {
  font-weight: normal;
  font-size: 12px;
}

.button-small {
  padding: 0 8px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 0.75rem;
}

.button.button-primary,
button.button-primary {
  background-color: $twdb-blue;
  border-color: $twdb-blue;

  &:hover, &:active, &:focus {
    background-color: $twdb-blue;
    border-color: $twdb-blue;
  }
}

.view-top {
  position: relative;
  height: 34rem;
  margin-bottom: 2rem;

  .summary-wrapper {
    position: relative;
  }

  .view-summary {
    width: 48%;
    float: left;
    margin: 0.9rem 2% 0 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid lighten($twdb-blue, 20%);
    border-radius: 4px;
    padding: 1rem;

    p {
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-bottom: 0.5rem;
      font-size: 3.8rem;

      &.long-name {
        font-size: 28px;
        line-height: 25px;
      }
    }

    table {
      margin-bottom: 0;
    }

    .spinner {
      margin: 2rem auto;
    }

    .chart-header h4 {
      font-size: 1.8rem;
    }
  }
}

.place-view .container {
  min-height: 100%;
}

.not-found .container {
  padding-top: 2rem;
}

.panel-row {
  margin: 0 0 2rem 0;
  border-radius: 4px;
  padding: 1rem 1.4rem;
  background-color: #fbfbfb;
  border-bottom: 1px solid #a9a9a9;

  .spinner {
    margin: 2rem auto;
  }
}

.sticky {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

