/*
Larger than mobile
@media (min-width: 400px) {}

Larger than phablet
@media (min-width: 550px) {}

Larger than tablet
@media (min-width: 750px) {}

Larger than desktop
@media (min-width: 1000px) {}

Larger than Desktop HD
@media (min-width: 1200px) {}
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);

$border-color: #e0e0e0;
$twdb-blue: #3F556D;
$link-hover-color: #0FA0CE;

$themes: ('demands', rgb(172, 40, 133)), ('supplies', rgb(0, 151, 214)),
  ('needs', rgb(237, 27, 47)), ('strategies',  rgb(10, 162, 69));

$usageTypes: ('irrigation' rgb(126, 191, 133)), ('livestock', rgb(106, 138, 34)),
  ('manufacturing', rgb(234, 214, 4)), ('mining', rgb(120, 182, 228)),
  ('municipal', rgb(237, 27, 47)), ('steam-electric', rgb(0, 155, 144));

@import "charts";
@import "maps";

body {
  color: #3e3e3e;
   /* Seamless Paper Texture by Merry
    From: http://subtlepatterns.com/seamless-paper-texture/
    CC-BY-SA: http://creativecommons.org/licenses/by-sa/3.0/
  */
  background: url('/public/static/img/seamless_paper_texture.png');
  position: relative;
  overflow-x: hidden;
  padding-bottom: 140px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: darken($twdb-blue, 10%);
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2rem;
  color: $twdb-blue;
  margin-bottom: 0.5rem;
}

a {
  color: $twdb-blue;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.wrapper {
  @media (min-width: 1000px) {
    width: 1000px;
    margin: 0 auto;
  }

  width: auto;
  margin: 0 1.5rem;
}

.header {
  @media (min-width: 550px) {
    margin-top: 0;
  }

  .nav-drawer-toggle {
    display: block;
    padding-left: 1rem;

    > svg {
      height: 100%;
      fill: white;
    }

    &:hover > svg {
      fill: $link-hover-color;
    }
  }

  margin-top: 0;
  padding: 8px 0 12px 0;
  height: 30px;
  background: rgba($twdb-blue, 0.8);

  .logo {
    display: inline-block;
    height: 36px;
    vertical-align: bottom;
    padding-right: 1rem;
  }

  h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #fff;
  }
}

.nav-drawer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem 1rem;
}

.footer {
  text-align: center;
  border-top: 1px solid $border-color;
  padding: 2rem 0;
  height: 100px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#B1BDCA, 0.8);

  p {
    margin: 0;
  }

  a {
    color: darken($twdb-blue, 10%);
  }

  .tnris-logo {
    width: 80px;
    margin-top: 8px;
  }
}

section.main-content {

}

.table-container {
  max-width: 100%;
  max-height: 600px;
  overflow-x: auto;

  .spinner {
    margin: 2rem auto;
  }
}

.place-view-top {
  position: relative;
  height: 40rem;

  .place-summary-wrapper {
    position: relative;
  }

  .place-summary {
    width: 48%;
    float: left;
    margin: 3rem 2% 0 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid lighten($twdb-blue, 20%);
    border-radius: 4px;
    padding: 1rem;
  }
}

.place-view .container {
  min-height: 100%;
}

.not-found .container {
  padding-top: 2rem;
}

.data-section-row {
  margin: 0 0 2rem 0;
  border-radius: 4px;
  padding: 1rem 1.4rem;
  background-color: #fbfbfb;
  border-bottom: 1px solid #a9a9a9;

  .spinner {
    margin: 2rem auto;
  }
}
